*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  display: grid;
  place-items: center;
  perspective: 500px;
}

.banner {
  display: flex;
}

$width: 25px;
.panel {
  position: relative;
  width: $width;
  height: 100px;
  /* border: 1px solid crimson; */
  overflow: hidden;
  animation: rotate 8s var(--delay) infinite ease-in-out alternate;
}

@keyframes rotate {
  0%,
  10% {
    transform: rotateX(0deg);
  }
  90%,
  100% {
    transform: rotateX(720deg);
  }
}

.panel::before {
  position: absolute;
  left: var(--left);
  content: 'Animated Text';
  font-size: 83px;
  width: max-content;
  color: hsl(var(--hue), 75%, 75%);
}

/* We have 25 div's with class panel, so we take each one and add some rules to them
   by using a sass for loop */

@for $i from 0 to 24 {
  .panel:nth-child(#{$i + 1}) {
    /* We move the text from each panel to the first panel, so we have just one word */
    --left: #{$width * $i * -1};
    /* We use hue to set colors for each panel, so they all have different colors */
    --hue: #{360 / 24 * $i};
    /* We make a delay for the animation of the text */
    --delay: #{$i * 0.2s};
  }
}
